<h2>Topics</h2>

<ol class="topic" start="{{startNumber}}">
    <li *ngFor="let topic of topics">
        <a [routerLink]="['/discussion', topic.id]" class="link">
            <div class="topic-title">
                <span class="arrow-up"></span>
                <span>{{topic.title}}</span>
            </div>
            <div class="topic-content">
                <div>
                    {{topic.score}} points
                </div>
                <div>
                    by {{topic.by}}
                </div>
                <div>
                    {{topic.duration}}
                </div>
                <div class="content-comments">
                    {{topic.kids?.length}} comments
                </div>
            </div>
        </a>
    </li>
</ol>

<div class="paging">
    <div (click)="movePage('<<')"><<</div>
    <div (click)="movePage('<')"><</div>
    <div (click)="movePage('1')">1</div>
    <div (click)="movePage('2')">2</div>
    <div (click)="movePage('3')">3</div>
    <div (click)="movePage('4')">4</div>
    <div (click)="movePage('>')">></div>
    <div (click)="movePage('>>')">>></div>
</div>